<h1>Shopping Cart</h1>
<ng-container *ngIf="cartItems$ | async as cart">
  <p>You have {{ itemsQuantity }} items in your shopping cart</p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart">
        <td>
        <div [style.backgroundImage]=" 'url('+item.product.data.imageUrl+')'" class="thumbnail" alt=""></div>
        </td>
        <td>{{ item.product.data.title }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.data.price|currency: "USD" }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
