<div class="card">
  <img src="{{ product?.data.imageUrl }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ product?.data.title }}</h5>
    <p class="card-text">{{ product?.data.price | currency: "USD" }}</p>
  </div>
  <div class="card-footer">
    <button
      *ngIf="quantity === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn btn-secondary btn-block"
    >
      Add To Cart
    </button>
    <ng-template #updateQuantity>
      <div class="row no-gutters">
        <div class="col-2">
          <button
            (click)="removeFromCart()"
            class="btn btn-secondary btn-block"
          >
            -
          </button>
        </div>
        <div class="col text-center">{{ quantity}} in cart</div>
        <div class="col-2">
          <button
            (click)="addToCart()"
            class="btn btn-secondary btn-block"
          >
            +
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<!-- style="width: 15rem;height:20rem;margin-bottom:10px" -->
