<div class="sticky-top">
    <div class="list-group">
        <a
          
          routerLink="/user/products"
          [queryParams]="{category:''}"
          class="list-group-item list-group-item-action" 
          [class.active]="category === ''"
    
          >All Categories</a
        >
        <a    
    
          *ngFor="let item of categories$ | async"
          routerLink="/user/products"
          [queryParams]="{ category: item.id }"
          class="list-group-item list-group-item-action"
          [class.active]="category === item.id"
        >
          {{ item.data.name }}
        </a>
      </div>
</div>
  